@font-face {
    font-family: FoundersGrotesk-Light;
    src: url('../font/FoundersGroteskWeb-Light.eot');
    src: url('../font/FoundersGroteskWeb-Light.woff2') format('woff2'),
          url('../font/FoundersGroteskWeb-Light.woff') format('woff');
}

html, body {
  font-family: 'FoundersGrotesk-Light', sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  cursor: default;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 1vw;
}

/* video:hover {
  cursor: url('../../assets/img/vid-cursor.png'), auto;
} */

/* a.title-motion,
a.title-motion:link,
a.title-motion:visited,
a.title-motion:active {
  color: #000;
}

a.title-fluid,
a.title-fluid:link,
a.title-fluid:visited,
a.title-fluid:active {
  color: #FFF;
} */

/*  Grid styling  */

.container {
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col
{
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 6.666667vw;
  flex: 0 0 6.666667vw;
  max-width: 6.666667vw;
}

.col-2 {
  -ms-flex: 0 0 13.333333vw;
  flex: 0 0 13.333333vw;
  max-width: 13.333333vw;
}

.col-3 {
  -ms-flex: 0 0 20vw;
  flex: 0 0 20vw;
  max-width: 20vw;
}

.col-4 {
  -ms-flex: 0 0 26.666667vw;
  flex: 0 0 26.666667vw;
  max-width: 26.666667vw;
}

.col-5 {
  -ms-flex: 0 0 33.333333vw;
  flex: 0 0 33.333333vw;
  max-width: 33.333333vw;
}

.col-6 {
  -ms-flex: 0 0 40vw;
  flex: 0 0 40vw;
  max-width: 40vw;
}

.col-7 {
  -ms-flex: 0 0 46.666667vw;
  flex: 0 0 46.666667vw;
  max-width: 46.666667vw;
}

.col-8 {
  -ms-flex: 0 0 53.333333vw;
  flex: 0 0 53.333333vw;
  max-width: 53.333333vw;
}

.col-9 {
  -ms-flex: 0 0 60vw;
  flex: 0 0 60vw;
  max-width: 60vw;
}

.col-10 {
  -ms-flex: 0 0 66.666667vw;
  flex: 0 0 66.666667vw;
  max-width: 66.666667vw;
}

.col-11 {
  -ms-flex: 0 0 73.333333vw;
  flex: 0 0 73.333333vw;
  max-width: 73.333333vw;
}

.col-12 {
  -ms-flex: 0 0 80vw;
  flex: 0 0 80vw;
  max-width: 80vw;
}

.col-13 {
  -ms-flex: 0 0 86.666667vw;
  flex: 0 0 86.666667vw;
  max-width: 86.666667vw;
}

.col-14 {
  -ms-flex: 0 0 93.333333vw;
  flex: 0 0 93.333333vw;
  max-width: 93.333333vw;
}

.col-15 {
  -ms-flex: 0 0 100vw;
  flex: 0 0 100vw;
  max-width: 100vw;
}

.footer-paragraph.footer-offset {
  top: 2.7vw;
}

.footer-nav.footer-offset {
  top: -0.85vw;
}

.footer-paragraph {
  font-size: 4.17vw;
  letter-spacing: -0.04vw;
}

.footer-nav {
  font-size: 8vw;
}

.footer-left {
  left: -0.139vw;
}

.footer-right {
  left: 2.5vw;
}

.space-half {
  height: 3.333333vw;
}

.space-1 {
  height: 6.666667vw;
}

.space-2 {
  height: 13.333333vw;
}

.space-3 {
  height: 20vw;
}

.space-4 {
  height: 26.666667vw;
}

.space-5 {
  height: 33.333333vw;
}

.space-6 {
  height: 40vw;
}

.space-7 {
  height: 46.666667vw;
}

.space-8 {
  height: 53.333333vw;
}

.space-9 {
  height: 60vw;
}

.space-10 {
  height: 66.666667vw;
}

.space-11 {
  height: 73.333333vw;
}

.space-12 {
  height: 80vw;
}

.space-13 {
  height: 86.666667vw;
}

.space-14 {
  height: 93.333333vw;
}

.space-15 {
  height: 100vw;
}

/*   Custom class styling   */

div.home {
  cursor: url('../../assets/img/arrow-cursor.png'), auto;
}

/* div.about,
div.fluid {
  cursor: url('../../assets/img/circle-cursor.png'), auto;
}

div.motion {
  cursor: url('../../assets/img/white-circle-cursor.png'), auto;
} */

.caption {
  font-size: 1.35vw;
  letter-spacing: 0.08vw;
  line-height: 1.9vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.caption-offset {
  padding-top: 1vw;
}

.copyright {
  font-size: 0.9vw;
  letter-spacing: 0.08vw;
  padding-left: 0.8vw;
  padding-top: 0.8vw;
  padding-right: 0.8vw;
}

.hide {
  visibility: hidden;
}

.home-btn {
  background-color: #A6C48A;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 0 rgba(88,88,88,0.52);
  position: fixed;
  left: 20px;
  top: 20px;
  width: 4.444444vw;
  height:4.444444vw;
  z-index: 99;
}

.about .home-btn {
  position: relative;
}

.fluid .text {
  color: #000;
}

/* .fluid .white-space {
  background-color: #FFF;
} */

.img {
  position: absolute;
}

.motion .text,
.motion .title {
  color: #FFF;
}

.paragraph {
  font-size: 1.35vw;
  letter-spacing: 0.97px;
  line-height: 1.9vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vw;
}

.paragraph-offset {
  padding-top: 2vw;
}

.title {
  font-size: 7.9vw;
  left: -0.5vw;
  margin: 0;
  position: relative;
}

.title-offset {
  top: -0.9vw;
}

.title-motion {
  letter-spacing:-0.05vw;
}

.title-fluid {
  letter-spacing: -0.08vw;
}

/* .title-fluid,
.about-title-fluid {
  letter-spacing: -0.08vw;
} */

.title-view {
  left: -0.1vw;
}

.title-concept {
  left: -0.3vw;
  letter-spacing: 0.01vw;
}

.title-code {
  left: -0.3vw;
  letter-spacing: -0.015vw;
}

.title-design {
  letter-spacing: -0.06vw;
}

.show {
  opacity: 0;
  visibility: visible;
}

/* .white-space-offset {
  position:relative;
  top: 0.05vw;
} */

/*   Custom element styling   */

/* #description {
  line-height: 1.9vw;
} */

#img-fluid {
  top: 0px;
  left: 60vw;
  opacity: 0;
}

#img-motion {
  top: 19.96vw;
  left: 40vw;
  opacity: 0;
}

#large-logo {
  height: 6.75vw;
}

#code-chunk,
#design-chunk {
  display: none;
}

#description-chunk,
#title-chunk {
  display: flex;
}

#hide-all {
  display: none;
}

#play-btn {
  cursor: grab;
  height: 18vw;
  left: calc(50% - 9vw);
  position: absolute;
  top: calc(50% - 9vw);
  width: 18vw;
  z-index: 3;
}

#vid-lg {
  display: none;
}

#vid-sm {
  display: none;
}

#vid-placeholder {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

@media screen and (max-width: 600px) {

  p {
    margin-block-start: 0;
    margin-block-end: 4vw;
  }

  /*  Grid styling  */

  .col-sm-0 {
    -ms-flex: 0 0 0vw;
    flex: 0 0 0vw;
    max-width: 0vw;
  }

  .col-sm-1 {
    -ms-flex: 0 0 20vw;
    flex: 0 0 20vw;
    max-width: 20vw;
  }

  .col-sm-2 {
    -ms-flex: 0 0 40vw;
    flex: 0 0 40vw;
    max-width: 40vw;
  }

  .col-sm-3 {
    -ms-flex: 0 0 60vw;
    flex: 0 0 60vw;
    max-width: 60vw;
  }

  .col-sm-4 {
    -ms-flex: 0 0 80vw;
    flex: 0 0 80vw;
    max-width: 80vw;
  }

  .col-sm-5 {
    -ms-flex: 0 0 100vw;
    flex: 0 0 100vw;
    max-width: 100vw;
  }

  .space-sm-0 {
    height: 0vw;
  }

  .space-sm-half {
    height: 10vw;
  }

  .space-sm-1 {
    height: 20vw;
  }

  .space-sm-2 {
    height: 40vw;
  }

  .space-sm-2-5 {
    height: 50vw;
  }

  .space-sm-3 {
    height: 60vw;
  }

  .space-sm-4 {
    height: 80vw;
  }

  .space-sm-5 {
    height: 100vw;
  }

  .space-sm-6 {
    height: 120vw;
  }

  .space-sm-10 {
    height: 200vw;
  }

  /*  Custom class styling  */

  .about .title-view {
    display: none;
  }

  .caption {
    font-size: 2.8vw;
    letter-spacing: 0.2vw;
    line-height: 3.7vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .caption-offset {
    padding-top: 3vw;
  }

  .copyright {
    font-size: 2.8vw;
    letter-spacing: 0.22vw;
    padding-left: 2.2vw;
    padding-top: 2.2vw;
    padding-right: 2.2vw;
  }

  .home-btn {
    /* left: 3.7vw;
    top: 16vw; */
    left: 20px;
    top: 20px;
    width: 12.266667vw;
    height:12.266667vw;
  }

  .fluid .title-fluid,
  .motion .title-motion {
    font-size: 18vw;
    top: 2.8vw;
  }

  .footer-paragraph.footer-offset {
    top: -3vw;
    left: -0.5vw;
  }

  .footer-nav.footer-offset {
    top: -3vw;
  }

  .footer-paragraph {
    font-size: 12.5vw;
    letter-spacing: -0.12vw;
  }

  .footer-nav {
    font-size: 24vw;
  }

  .footer-right {
    left: 0vw;
  }

  .paragraph {
    font-size: 4.3vw;  /* was font-size: 4.3vw */
    letter-spacing: 0.24vw;
    line-height: 5.8vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0;
  }

  .fluid .paragraph {
    margin-top: -4.8vw;
  }

  .motion .paragraph {
    margin-top: -7vw;
  }

  .paragraph-offset {
    padding-top: 1vw;
  }

  .paragraph-sm-offset {
    padding-top: 0.5vw;
  }

  .title {
    font-size: 24vw;
    left: -1.2vw;
    margin: 0;
    position: relative;
  }

  .title-offset {
    top: -2.5vw;
  }

  .title-motion {
    letter-spacing:-0.3vw;
  }

  .title-fluid {
    letter-spacing: -0.4vw;
  }

  .title-view {
    left: -0.3vw;
  }

  .title-concept,
  .title-code,
  .title-design {
    font-size: 18vw;
    top: 2.8vw;
  }

  .title-concept {
    left: -0.3vw;
    letter-spacing: -0.15vw;
  }

  .title-code {
    left: -0.3vw;
    letter-spacing: 0.266667vw;
  }

  .title-design {
    letter-spacing: 0.0266667vw;
  }

  /* Custom elements styling */

  #img-fluid {
    top: 80.1vw;
    left: 20vw;
  }

  #img-motion {
    top: 80.05vw;
    left: 20vw;
  }

  #large-logo {
    height: 20.25vw;
  }

  #ny {
    padding-left: 1.9vw;
  }

  #code-chunk,
  #design-chunk {
    display: flex;
  }

  #description-chunk,
  #title-chunk {
    display: none;
  }
}
