@font-face {
    font-family: FoundersGrotesk-Light;
    src: url('../font/FoundersGrotesk-Light.otf') format("opentype");
}

html, body {
  font-family: 'FoundersGrotesk-Light', sans-serif;
  font-size: 115px;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  cursor: default;
  text-decoration: none;
}

/*  Custom style declarations */

.title {
  cursor: default;
  margin: 0;
  position: absolute;
}

.img {
  position: absolute;
}

.home .block {
  position: absolute;
}

.fluid .block {
  position: relative;
}

.paragraph {
  font-size: 14px;
  letter-spacing: 0.97px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.left-0 {
  left: 0px;
}

.left-1 {
  left: calc(6.67% - 5px);
}

.left-2 {
  left: calc(13.33% - 5px);
}

.right-6 {
  right: calc(6.67%);
}

#img-fluid {
  letter-spacing: -1.46px;
  top: 0px;
  right: 0px;
}

#img-motion {
  letter-spacing: -1.12px;
  bottom: 0px;
  right: 0px;
}

#return-btn {
  position: absolute;
  left: 2%;
  top: 5%;
}

@media only screen and (max-width: 480px) {
  .left-1 {
    left: calc(20% - 5px);
  }

  .paragraph {
    font-size: 12px;
    letter-spacing: 0.83px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
  }

  .title {
    position: absolute;
  }

  #arrow {
    position: absolute;
  }

  #img-fluid {
    letter-spacing: -1.19px;
    right: 0px;
  }

  #img-motion {
    letter-spacing: -0.87px;
    right: 0px;
  }
}
